/* src/components/Footer.css */
.App-footer {
  background-color: #333; /* Dark background for footer */
  color: #fff; /* Light text color */
  text-align: center;
  padding: 1rem 0;
  font-size: 0.9rem;
}
