@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-footer {
  height: 1.1cm;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #282c34;
  color: white;
  padding-top: 0.2cm;
}

.App-link {
  color: #61dafb;
}

.bc {

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0 auto;
  padding: 0 auto;
  font-weight: bold;
}

.bc-container {
  height: 1.5cm;
  background-color: #282c34;
  color: white;
  padding-top: 0.3cm;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
